# Backend Server configuration
PORT=3003

# Database Configuration
DB_HOST=<DB_LINK_GOES_HERE>
DB_PORT=<DB_PORT_GOES_HERE>
DB_USER=<DB_USER_GOES_HERE>
DB_PASSWORD=<DB_PASSWORD_GOES_HERE>
DB_NAME=<DB_NAME_GOES_HERE>
DB_SSL=false

# CORS (React)
CORS_ORIGIN=http://localhost:5173

# Auth (future)
JWT_SECRET=PLACE_HOLDER

# Filing service specific information
OVERDUE_FEE_CENTS_PER_DAY=25
FILING_SERVICE_BASE_URL=https://documents.flooristired.xyz/filing
FILING_SERVICE_API_KEY=secret_key_<the key here>