# Backend Server configuration
PORT=3003

# Database Configuration
DB_HOST=<DB_LINK_GOES_HERE>
DB_PORT=<DB_PORT_GOES_HERE>
DB_USER=<DB_USER_GOES_HERE>
DB_PASSWORD=<DB_PASSWORD_GOES_HERE>
DB_NAME=<DB_NAME_GOES_HERE>



